@use "variables.scss";
@use "mixins.scss" as mixins;
@use "null.scss";
@use "forms.scss";
@use "ui.scss";
@use "popup.scss";
@use "header.module.scss";
@use "footer.scss";
//</Шрифти>===============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
	background-color: #74d16490;
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
.container {
	
}

.main{
	@include mixins.flexbox();
	flex-direction: column;
	max-width: 600px;
	min-height: 700px;
	background-color: #fff;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.971);
}

.newTodoInput{
	border: 3px solid rgb(170, 163, 163);
	font-size: 30px;
	&::placeholder{
		padding: 10px 0 10px 10px;
	}
	font-family: "Permanent Marker";
	padding: 0 0 0 10px;
}