@use "variables.scss";
@use "mixins.scss" as mixins;
@use "null.scss";
@use "forms.scss";
@use "ui.scss";
@use "popup.scss";
@use "header.module.scss";
@use "footer.scss";
//</Шрифти>===============================================================================================
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
	background-color: #74d16490;
	color: #000;
	font-size: 14px;
	font-family: "Permanent Marker";
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
.container {}

.main{
	@include mixins.flexbox();
	flex-direction: column;
	max-width: 600px;
	min-height: 700px;
	background-color: #fff;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.971);
}

.newTodoInput{
	border: 3px solid rgb(170, 163, 163);
	font-size: 30px;
	&::placeholder{
		padding: 10px 0 10px 10px;
	}
	padding: 0 0 0 10px;
}

.login{
	border: #000000 solid 2px;
	&__block{
		margin: 0 auto;
		text-align: center;
	}
	&__title{
		font-size: 30px;
		margin: 60px 0 0 0;
	}

	&__inputs{
		@include mixins.flexbox();
		flex-direction: column;
		input{
			margin: 10px 0 0 0;
			border: 3px solid rgb(170, 163, 163);
			font-size: 30px;
			font-family: "Permanent Marker";
			&::placeholder{
			padding: 10px 0 10px 5px;
		}
		}
	}

	&__button{
		margin: 20px 0 0 0;
		button{
		border: #000 solid 2px;
		border-radius: 5px;
		font-size: 20px;
		font-family: "Permanent Marker";
		padding: 5px 10px;
		}
	}

	&__register{
		margin: 10px 0 0 0;
		a{
			color: #000;
			font-size: 18px;
			&:hover{
				color: red;
				@include mixins.anim(0.4s, 0s);
				cursor: pointer;
			}
		}
	}
}

.register{
	&__block{
		margin: 0 auto;
		text-align: center;
	}
	&__title{
		font-size: 30px;
		margin: 60px 0 0 0;
	}

	&__inputs{
		@include mixins.flexbox();
		flex-direction: column;
		input{
			margin: 10px 0 0 0;
			border: 3px solid rgb(170, 163, 163);
			font-size: 30px;
			font-family: "Permanent Marker";
			&::placeholder{
			padding: 10px 0 10px 5px;
		}
		}
	}

	&__button{
		margin: 20px 0 0 0;
		button{
		border: #000 solid 2px;
		border-radius: 5px;
		font-size: 20px;
		font-family: "Permanent Marker";
		padding: 5px 10px;
		}
	}

	&__login{
		margin: 10px 0 0 0;
		a{
			color: #000;
			font-size: 18px;
			&:hover{
				color: red;
				@include mixins.anim(0.4s, 0s);
				cursor: pointer;
			}
		}
	}
}